<a href="https://colab.research.google.com/github/imsumit8/python_beginner/blob/main/data_type_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Welcome back!")

Welcome back!

In [2]:
# recap#

In [4]:
print(" this is a function that is useful to display output on screen")

 this is a function that is useful to display output on screen

In [5]:
print("this is a str that will be printed on screen")
print(''' this
is a str
that will be printed on screen''')

this is a str that will be printed on screen
 this
is a str
that will be printed on screen

In [6]:
print("this is a str that will be printed on screen")
print(type(''' this
is a str
that will be printed on screen'''))

this is a str that will be printed on screen
<class 'str'>

In [7]:
# 5 data types

In [8]:
print("this is a str that will be printed on screen")

this is a str that will be printed on screen

In [9]:
# 2. numbers

In [11]:
#integers
print(-1,0,1)
print(type(-1))

-1 0 1
<class 'int'>

In [13]:
# float

print(-0.74567,1.8,type(1.0))

-0.74567 1.8 <class 'float'>

In [14]:
# bool
print(True)
print(False)

True
False

In [15]:
# 1: python is case sensitive and python is precisely typed

In [16]:
# None

In [17]:
print(None)

None

In [18]:
# I want to store my aadhar number >>>>str
# Bank balance >>> float
#age in years >>> int

In [ ]:
# expressions
# lhs=rhs
# rhs is processed first and stored with LHS
#Python evaluates expressions from left to right. Notice that while evaluating an assignment, the right-hand side is evaluated before the left-hand side.
## Recommendation: don't create variable names  that are name of functions

In [ ]:
# Input functions for getting the input
# IMP >> always treat everything as a string

In [20]:
print(int('RIOPHJK'))

ValueError: ignored

## Type casting

In [21]:
print(float("12345.3578"))

12345.3578

In [22]:
print(int("123456.54789"))

ValueError: ignored

In [24]:
print(int(12336.34567))
print(int(-2345.5678))
# it is not rounding decimals are throwin off

12336
-2345

In [26]:
# sep>> seperation between values when printed by same print function
# end >> how a print function ends , default is '\n'
print('Ronaldo',39,54,sep='\n',end="")
print("Gar mer4e dbo bara gandu")

Ronaldo
39
54Gar mer4e dbo bara gandu

In [27]:
print("20"+"2")

202

In [28]:
print("cristiano"+"Ronaldo")

cristianoRonaldo

In [29]:
input1= int(input())
input2=int(input())
print((input1+input2)/2)

6
9
7.5

In [30]:
# sum is a popular function
# nothing like avg