<a href="https://colab.research.google.com/github/imsumit8/python_beginner/blob/main/FOR_LOOP_KULDEEP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
meter=1
while meter<=5:
  print(meter)
  meter+=1

1
2
3
4
5

In [3]:
for number in range(5):
  print(number)

0
1
2
3
4

In [4]:
for number in range(2,5):
  print(number)

2
3
4

In [5]:
for number in range(3,15,2):
  print(number)

3
5
7
9
11
13

In [6]:
for number in range(9,3):
  print(number)

In [7]:
for number in range(9.5,3): # start has to be an int
  print(number)

TypeError: ignored

In [8]:
for number in range(9,3.5): # end has to be an int
  print(number)

TypeError: ignored

In [9]:
for number in range(9,3,-1.5): #step has to be an int
  print(number)

TypeError: ignored

In [11]:
for number in range(1,3,0): #step cannot be zero
  print(number)

ValueError: ignored

In [12]:
for i in range(-100,-90):
  print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91

In [22]:
print('''
Question 1 -
Print all integers from 1 to N using for loop. (N to be included)
Take N as input from the user.
'''
'''
Input is 4
Output will be 1 2 3 4
''')

Question 1 -
Print all integers from 1 to N using for loop. (N to be included)
Take N as input from the user.

Input is 4
Output will be 1 2 3 4

In [16]:
n=int(input("please enter a number: "))
for i in range(1,n+1):
  print(i,end=" ")

please enter a number: 9
1 2 3 4 5 6 7 8 9

In [17]:
n=int(input("please enter a number: "))
for i in range(n):
  print(i+1,end=" ")

please enter a number: 7
1 2 3 4 5 6 7

In [18]:
print(len(range(5)))

5

5
15

In [21]:
print('''
Question 2 -
Take N as input from the user.
Calculate the sum of all numbers from 1 to N (N is included).
ONLY USE for LOOP AND range
'''
'''
Input : 3
Output : 6
''')

Question 2 -
Take N as input from the user.
Calculate the sum of all numbers from 1 to N (N is included).
ONLY USE for LOOP AND range

Input : 3
Output : 6

In [23]:

N=int(input())
sum=0
for i in range(N):

  sum+= i+1
print(sum)

4
10

In [24]:
print('''
Question 3 -
FACTORIAL ->
Take N an input from the user.
Calculate the product of all numbers from 1 to N (N is included).
'''
'''
1 > 1
2 > 2
3 > 6
4 > 24
'''
)

Question 3 -
FACTORIAL ->
Take N an input from the user.
Calculate the product of all numbers from 1 to N (N is included).

1 > 1
2 > 2
3 > 6
4 > 24

In [25]:
N=int(input())
product=1
for i in range(1,N+1):
  product=product*i
print(product)

5
120

In [26]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [27]:
print(list(range(2,5)))

[2, 3, 4]

In [28]:
print(list(range(2,5,2)))

[2, 4]

In [29]:
print('''
Question 4 -
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.
''')

Question 4 -
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.

In [30]:
N=int(input())
product=1
for i in range(2,N+1,2):
  product=product*i

print(product)

6
2
8
48

In [31]:
print('''
Question 5 -
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included. GIVEN - Both start and end will be greater than 0.
''')

Question 5 -
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included. GIVEN - Both start and end will be greater than 0.

In [34]:
N=int(input())
end=int(input())
if N%2==0:
  start=N
else:
  start=N+1
product=1
for i in range(start,end+1,2):
  product*=i

print(product)

3
10
1920

In [35]:
print('''
Question 6 -
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given
''')

Question 6 -
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given

In [39]:
N=int(input())
for i in range(N,1-1,-1):
  print(i,end=" ")

8
8 7 6 5 4 3 2 1

In [49]:
N=int(input())
for i in range(1,N+1):
  print(N+1-i,end=" ")

7
7 6 5 4 3 2 1

In [42]:
NAME='Cristiano Ronaldo'
print(len(NAME))

17

In [47]:
for i in range(len(NAME)):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [48]:
for i in NAME:
  print(i)

C
r
i
s
t
i
a
n
o

R
o
n
a
l
d
o