<a href="https://colab.research.google.com/github/imsumit8/python_beginner/blob/main/list_slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#non-primitive data structures

In [2]:
#python list
#[]
# ordered>> Indexing >>sorting
## duplicates are allowed
# it can store anything
#editable /mutable

In [4]:
my_list=[5,2,8,6,1]
print(my_list)
my_list.sort()
print(my_list)
my_list.sort(reverse=True)
print(my_list)

[5, 2, 8, 6, 1]
[1, 2, 5, 6, 8]
[8, 6, 5, 2, 1]

In [5]:
#operations
a=[1,7,4]
b=[2,8,5,-15]
print(a+b)
#concatenates

[1, 7, 4, 2, 8, 5, -15]

In [8]:
# print(a-b) >>TypeError: unsupported operand type(s) for -: 'list' and 'list'
# print(a/b) >>TypeError: unsupported operand type(s) for /: 'list' and 'list'
# print(a*b) >>TypeError: can't multiply sequence by non-int of type 'list'

TypeError: ignored

In [10]:
print(a*4)
# x*4=x+x+x+x

[1, 7, 4, 1, 7, 4, 1, 7, 4, 1, 7, 4]

In [12]:
#iterating

# my_list

#for i in my_list: direct iteration of the values inside the my_list
#for i in range(len(my_list)):

##Question-1
Given list of all runs by Virat, print runs made in odd matches (Even Indexes). runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

In [16]:
runs=[62,85,74,10,12,101,122,99,81,55]

for i in range(len(runs)):
  if i%2==0:
    print(runs[i])

62
74
12
122
81

Question-2
Given list of all runs by Virat, create a new list of runs made in odd matches (Even Indexes). runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55] Create a function called odd_runs, that will take one argument, which is the runs list

In [17]:
def odd_runs(runs):
  odd=[]
  for i in range(len(runs)):
    if i%2==0:
      odd.append(runs[i])

  print(odd)
odd_runs(runs)

[62, 74, 12, 122, 81]

Question-3
Given list of all runs by Virat, create a new list of runs made in last 5 matches. runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55] Output should be: [101, 122, 99, 81, 55]

In [18]:
list=[]
for i in range(5,len(runs)):
  list.append(runs[i])
print(list)

[101, 122, 99, 81, 55]

In [19]:
list=[]
for i in range(-5,0,1):
  list.append(runs[i])
print(list)

[101, 122, 99, 81, 55]

In [20]:
#index of the last value is : -1, len(runs)-1
#index of the second last value is : -2, len(runs)-2
#index of the third last value is : -3, len(runs)-3
#index of the fourth last value is : -4, len(runs)-4
#index of the fifth last value is : -5, len(runs)-5

list=[]
for i in range(len(runs)-5,len(runs),1):
  list.append(runs[i])
print(list)

[101, 122, 99, 81, 55]

Given list of all runs by Virat, create a new list of runs made in first 3 matches. runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55] Output should be: [62, 85, 74]

In [22]:
lst=[]
for i in range(3):
  lst.append(runs[i])

print(lst)

[62, 85, 74]

Question-5
Given list of all runs by Virat, create a new list of runs made from the 3rd match to the 7th match. runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55] Output should be: [74, 10, 12, 101, 122]
You can assume that the list length will be valid

In [23]:
lst=[]
for i in range(2,7):
  lst.append(runs[i])

print(lst)

[74, 10, 12, 101, 122]

In [24]:
# list slicing>> the output will always be a python list

In [25]:
avengers=['iron-man','thor','cap','hulk','groot']
# list[start:end]>>slice the list>> [start ,start+1,start+2,...,end-1]>> end index is not included>> default step sizeL:1

In [26]:
print(avengers[1:4])

['thor', 'cap', 'hulk']

In [27]:
print(avengers[1:4:2])

['thor', 'hulk']