<a href="https://colab.research.google.com/github/imsumit8/python_beginner/blob/main/List_2d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to reverse a list. [1, 2, 3, 4, 5] > [5, 4, 3, 2, 1]

In [2]:
arr=[1,2,3,4,5]
arr.reverse()
print(arr)

[5, 4, 3, 2, 1]

In [3]:
from typing_extensions import assert_never
arr=[1,2,3,4,5]
print(arr)

print(list(reversed(arr)))
print(arr)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [6]:
# sort
a=[1,-10,2,3,-100,4,5,5,5]
a.sort()
print(a)

[-100, -10, 1, 2, 3, 4, 5, 5, 5]

In [10]:
#sorted
a=[1,-10,2,3,-100,4,5,5,5]

print(sorted(a))
print(a)

[-100, -10, 1, 2, 3, 4, 5, 5, 5]
[1, -10, 2, 3, -100, 4, 5, 5, 5]

In [8]:
#index>> index of the first occurence
print(a.index(5))
#count
print(a.count(5))

6
3

## LIST 2D

In [11]:
player=['Ronaldo',38,185.5,True,None]

In [12]:
print(player)
print('# of elements in my list :',len(player))

['Ronaldo', 38, 185.5, True, None]
# of elements in my list : 5

In [13]:
for p in player:
  print(p)

Ronaldo
38
185.5
True
None

In [14]:
groceryList=[3,'tables',3,'chairs',1.5,'apples',['Ronaldo',38,185.5,True,None]]
print(groceryList)

[3, 'tables', 3, 'chairs', 1.5, 'apples', ['Ronaldo', 38, 185.5, True, None]]

In [15]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [16]:
print('# of rows: ',len(matrix))

# of rows:  3

In [17]:
print('# of cols: ',len(matrix[0]))

# of cols:  3

In [18]:
matrix=[
    [1,2,3],
    [4,5,6]
]
print(matrix)
print('# of cols: ',len(matrix[0]))

[[1, 2, 3], [4, 5, 6]]
# of cols:  3

In [20]:
player=['Ronaldo',38,185.5,True,None]
print(player[1])
print(player[-4])

38
38

In [21]:
#chair
groceryList=[3,'tables',3,'chairs',1.5,'apples',['Ronaldo',38,185.5,True,None]]
print(groceryList[3])

chairs

In [24]:
print(groceryList[-1])
print(groceryList[6])
print(groceryList[6][1])
print(groceryList[6][-4])
groceryList[4]=2

['Ronaldo', 38, 185.5, True, None]
['Ronaldo', 38, 185.5, True, None]
38
38

In [25]:
groceryList[6][4]=2026
print(groceryList)

[3, 'tables', 3, 'chairs', 2, 'apples', ['Ronaldo', 38, 185.5, True, 2026]]

In [27]:
my_list = [1,2,3,[4,5,["hello",[True, "Find ME!!"]],6]]

my_list[3][2][1][1]

'Find ME!!'

In [28]:
matrix[1][1]#>> [row_index][col_index]

5

In [29]:
matrix=[
    [1,2,3],
    [4,5,6]
]
for row in matrix:
  print(row)

[1, 2, 3]
[4, 5, 6]

In [30]:
matrix=[
    [1,2,3],
    [4,5,6]
]
for row in matrix:
  for ele in row:
    print(ele,end=" ")
  print()

1 2 3
4 5 6

In [31]:
# iterating by index
#invalid matrix
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9,-7,-8,-9],
    [0,10,11]
]
for row in matrix:
  for ele in row:
    print(ele,end=" ")
  print()

1 2 3
4 5 6
7 8 9 -7 -8 -9
0 10 11

In [33]:
# iterating by index
#valid matrix
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0,10,11]
]
for rowindex in range(len(matrix)):
  for colindex in range(len(matrix[0])):
    print(matrix[rowindex][colindex],end=" ")
  print()

1 2 3
4 5 6
7 8 9
0 10 11

In [34]:
# iterating by index
#valid matrix
#find
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0,10,11]
]
search_ele=2
for rowindex in range(len(matrix)):
  for colindex in range(len(matrix[0])):
    if matrix[rowindex][colindex]==search_ele:
      print(rowindex,colindex)
  print()

0 1

In [35]:
sum=0
for i in matrix:
  for j in matrix[0]:
    sum+=j
print(sum)

24

In [36]:
sum=0
for rowindex in range(len(matrix)):
  for colindex in range(len(matrix[0])):
    sum+= matrix[rowindex][colindex]

print(sum)

66

what is the sum of all the elements row -wise?
>> [6,15,24,21]

In [44]:
lst=[]
for row in matrix:
  sum=0


  for j in row:
    sum+=j
  lst.append(sum)

print(lst)

[6, 15, 24, 21]

In [41]:
print(lst)

[21]

what is the sum of all the elements col -wise?
>> [12,25,29]

In [47]:
for i in range(len(matrix)):
  sum=0
  for j in range(len(matrix[0])):
    if j==0:
      sum+=matrix[i][j]
  print(sum)

1
4
7
0

In [52]:
nrows=len(matrix)
ncols=len(matrix[0])
ans=[]
for colindex in range(ncols):
  ans.append(0)
print(ans)
for rowindex in range(nrows):
  for colindex in range(ncols):
    ans[colindex]+=matrix[rowindex][colindex]
print(ans)

[0, 0, 0]
[12, 25, 29]


what is the sum of the diaginal>> 1+5+9 = 15


```
# This is formatted as code
```

In [58]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
     ]

nrows=len(matrix)
ncols=len(matrix[0])
sum=0
for i in range(nrows):
  print(matrix[i][i])
  sum+=matrix[i][i]

print('sum of diagonal is:',sum)

1
5
9
sum of diagonal is: 15