<a href="https://colab.research.google.com/github/imsumit8/python_beginner/blob/main/String_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
ord('a')

97

In [2]:
ord('A')

65

In [3]:
ord('ðŸ˜Š')

128522

In [5]:
print(ord('a'),ord('z'))
print(ord('A'),ord('Z'))
print(ord('0'),ord('9'))

97 122
65 90
48 57

In [6]:
'a'>'A'

True

In [7]:
chr(10500)

'â¤„'

In [8]:
print('>>+')
print("cristiano"+"Ronaldo")

>>+
cristianoRonaldo

In [9]:
#f str
my_str="I live on earth, and we are 3 planet"

In [10]:
planet='Earth'
rank=3
#1: Replace all the data with var names with {}

my_str=f"I live on {planet}, and we are {rank} planet"
print(my_str)

I live on Earth, and we are 3 planet

In [11]:
my_str="I live on {}, and we are {} planet".format(planet,rank)
print(my_str)

I live on Earth, and we are 3 planet

Question-1
Take a string input from user and print that string character by character, with each character in new line.

In [13]:
string=input()
for i in string:
  print(i)

fghjk
f
g
h
j
k

In [17]:
my_str=input()
first_character=my_str[0]
last_character=my_str[-1]
print(f"first character-{first_character} , last_character- {last_character}")

INDIA
first character-I , last_character- A

In [20]:
# you cannot update a string
my_str[3]='g'

TypeError: ignored

In [18]:
my_str=input()
print(my_str[::-1])

asdfg
gfdsa

In [23]:
my_str=input().lower()
if my_str==my_str[::-1]:
  print("Palindrome")
else:
  print("Not palindrome")

Noon
Palindrome

In [26]:
list(reversed(my_str))

['n', 'o', 'o', 'n']

Question-5
Take a string input from user.
Print the number of upper case characters in that string.

In [28]:
#1
my_str=input()
sum=0
for CHARACTER in my_str:
  if ord(CHARACTER)>=65 and ord(CHARACTER)<=90:
    sum+=1
print(f"Number of uppercase char is {sum}")

SEDGYUKdfhjymkuk
Number of uppercase char is 7

In [29]:
#1
my_str=input()
sum=0
for CHARACTER in my_str:
  if CHARACTER.isupper():
    sum+=1
print(f"Number of uppercase char is {sum}")

India
Number of uppercase char is 1

In [30]:
# Split and join
my_str="1,2,3,4,5,6"
print(my_str.split(','))

['1', '2', '3', '4', '5', '6']

In [32]:
my_list_of_str=['1','2','3','4','5']
print(' '.join(my_list_of_str))
print('__'.join(my_list_of_str))

1 2 3 4 5
1__2__3__4__5

In [36]:
char=[chr(int(i))  for i in input().split(',')]
print(''.join(char))

1,5,89
Y

In [37]:
def generate_str(lst):
  s=""
  for i in lst:
    s+=chr(i)
  return s

In [39]:
generate_str([65,97,68])

'AaD'

In [43]:
def generate_str(lst):
  s=[]
  for i in lst:
    s.append(chr(i))
  return "".join(s)

In [44]:
generate_str([65,97,68])

'AaD'

Question-7
Get input from the user of a string of comma separated int.
Convert it into a list of individual int.
"56,78,99,101"
[56, 78, 99, 101]

In [40]:
my_str=[int(i) for i in input().split(',')]
print(my_str)

5,6,7,8,9
[5, 6, 7, 8, 9]